/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(253, 253, 253);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    background-color: #050505;
}

a {
    color: rgb(253, 253, 253);
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: black;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Spartan', sans-serif;
}

h1{
font-size: 50px;
line-height: 64px;
color: white(14, 13, 13);
}

h2{
font-size: 46px;
line-height: 54px;
color: rgb(255, 255, 255);
}

h4{
font-size: 20px;
color: rgb(255, 255, 255);
}

h3{
font-size: 20px;
color: rgb(255, 255, 255);
}

h6{
font-weight: 700;
font-size: 12px;
}
p{
font-size: 16px;
color: rgb(255, 255, 255);
margin: 15px 0 20px 0;
}
.section-p1{
padding: 40px 80px;
}
.section-m1{
margin: 40px 0;
}
body
{
width: 100%;
}


 #header_section

{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
background:black;
box-shadow: 0 5px 15px rgb(255, 0, 0) ;
z-index: 999;
position: sticky-top;
top: 0;
left: 0;
}

#navbar
{
display: flex;
align-items: center;
justify-content: center;
}

#navbar li
{
list-style: none;
padding: 0 20px;
position: relative;
color: rgb(17, 17, 17);
}



#navbar li a
{
text-decoration: none;
font-size: 16px;
font-weight: 600;
color: rgb(17, 17, 17);
transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a:active
{
color: rgb(14, 13, 13);
}


#navbar li a:active::after,
#navbar li a:hover::after
{
content:"";
width: 30%;
height: 2px;
background: rgb(255, 0, 0);
position: absolute;
bottom: -4px;
left: 20px;
}




#hero
{
background-size: 100% 100%;
background-position: top 25% right 0;
padding-top: 40px;
padding-left: 280px;
padding-down:150px;
img-repeat: no-repeat;
img-attachment: fixed;
background-size: 100% 100%;


}

#hero .search-container
{
padding-left:550px;
padding-bottom:15px;
}

#hero h1{
padding-top:120px;
padding-left:380px;
padding-bottom:15px;
}


#hero button 

{
background-color: rgb(12, 12, 12);
color: Black;
border: 0;
padding:14 px 80px 14px 65px;
background-repeat: no-repeat;
cursor: pointer;
font-weight: 700;
font-size: 15px;
}


#feature
{

display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
gap:50px;
}


#fe-box
{
text-align: center;
}

#feature
{
display: flex;
padding-left: 80px;
padding-right: 50px;
justify-content: space-between;
flex-wrap: wrap;
box-color: black;
gap:50px;
}


#fe-box .pro
{
background-color: black;
width: 100%;
min-width: 1000px;
padding: 10px 12px;
border: 1px solid white;
border-radius: 25px;
cursor: pointer;
box-shadow: 20px 20px 30px rgb(255, 1, 1);
margin: 15px 0;
box-color: black;
transition: 0.2s ease;
position: relative; 
}

#fe-box .pro img
{
width: 100%;
border-radius: 50px;
margin: 20px;
}


#fe-box .pro .des
{
text-align: start;
padding: 10px 0;
}

fe-box .pro .des span
{
color:Black;
font-size:12px;
}

#fe-box .pro .des h4
{
padding-top: 7px;
color: Black;
font-size: 14px;
}

#fe-box .pro .des h3
{
padding-top: 7px;
font-size: 15px;
font-weight: 700;
color: teal;
}

#fe-box .pro .add to cart
{
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 50px;
background-color: black;
font-weight: 500;
color: Teal;
border: 1px solid white;
position: absolute;
bottom: 20px;
right: 10px;
}

#feature .fe-box
{
width: 180px;
text-align: center;
padding: 25px 15 px;
box-shadow: 10px 10px 14px rgb(172, 169, 169);
border: 2px solid Black;
border-radius: 10px;
margin: 15px 0;
background-color: rgb(255, 0, 0);
}

#feature .fe-box:nth-child(n+4)
{
width: 180px;
text-align: center;
padding: 25px 15 px;
box-shadow: 10px 10px 14px grey;
border: 1px solid Black;
border-radius: 4px;
margin: 15px 0;
}


#feature .fe-box:nth-child
{
flex-direction: column;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: nowrap;
}


#feature .fe-box:hover
{
box-shadow: 10px 10px 14px rgb(255, 0, 0);
}


#feature .fe-box img
{
width: 100%;
max-height: 1000px;
object-fit: cover;
width: 100%;
height: auto;
margin-bottom: 20px;
}

/* footer section start */

.footer_section {
    width: auto;
    float: left;
    height: 100%;
    background-color: black;
    background-size: auto;
    padding: 50px 0px;
}

.address_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-bottom: 50px;
}

.footer_text {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    color: white;
    text-align: center;
}

.location_text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.location_text li {
    float: left;
    font-size: 16px;
    color: white;
    padding: 0px 10px 5px 10px;
}

.location_text li a {
    color: rgb(255, 0, 0);
}

.location_text li a:hover {
    color: white;
}

.padding_left_10 {
   
}

.social_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.footer_social_icon { 
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer_social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.footer_social_icon li {
    float: left;
}

.footer_social_icon li a {
   
    padding: 5px 10px;
    background-color: rgb(252, 251, 251);
    color: rgb(17, 17, 17);
    border-radius: 100%;
    font-size: 19px;
    margin-right: 5px;
    width: 50px;
    text-align: center;
    margin-top: 10px;
}

.footer_social_icon li a:hover {
    background-color: black;
    color: white;
}

.update_mail {
    color: black;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 10px 20px 0px 20px;
    background-color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 20px;
    border: 1px solid #ff0101;
}

textarea#comment.update_mail::placeholder {
    color: rgb(238, 231, 231);
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.subscribe_bt {
    width: 70px;
    float: left;
    padding-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    color: rgb(255, 0, 0);
    font-size: 16px;
    padding: 13px 0px 14px 0px;
    background-color: black;
    text-transform: uppercase;
    text-align: center;
}

.subscribe_bt a:hover {
    color: rgb(255, 0, 0);
    background-color: white;
}


/* footer section end */


/* contact section start */

.contact_section {
    width: 100%;
    float: left;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color:rgb(255, 0, 0) ;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contact_section_2 {
    width: 100%;
    float: left;
    padding-top: 55px;
}

.padding_left_0 {
    padding-left: 0px;
}

.mail_section_1 {
    width: 50%;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: rgb(255, 0, 0);
    border: 2px black;
    background-color: white;
    padding: 11px 20px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
}

input.mail_text::placeholder {
    color: black;
}

.massage-bt {
    color: #2e2e2d;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #efefef;
    padding: 40px 20px 0px 20px;
    border: 0px;
    height: 110px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
}

textarea#comment.massage-bt::placeholder {
    color: #2e2e2d;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    margin-top: 20px;
    display: block;
    border-radius: 40px;
}

.send_bt a:hover {
    color: black;
    background-color: white;
}

.map_main {
    width: 100%;
    float: left;
    margin-top: 90px;
}


/* contact section end */
/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: black;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
}

.copyright_text a {
    color: white;
}

.copyright_text a:hover {
    color: rgb(255, 0, 0);
}


/* copyright section end */


.margin_top90 {
    margin-top: 90px;
}


.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background-color: transparent;
  }


  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  /* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #050505;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    background-color: #ff0000;
    text-align: center;
    padding: 7px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
    background-color: #ff0000;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: #ff0101;
    padding: 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #0a0a0a;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(241, 232, 232);
    color: #ff0000;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: rgb(255, 4, 4);
    background-color: white;
    text-decoration: none;
    width: 400px;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }


  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: pink}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .btn:hover, .dropdown:hover .btn  {
    background-color: black;
  }
  
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  




